<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

<title>Error Loading Data</title>

<style>
#container {
        left:50%;
	margin:0 0 0 -200px;
        display:inline-block;
	position:absolute;
        width:400px;
    }
    
#sadbaby {
    width:306px;
    height:276px;
    margin:auto
}

p.error {color:rgb(255,0,0)}
</style>


</head>
<body>
    <div id="container">
    <div id="sadbaby"><img src="static/landing/sadbaby.jpg"></div>
    <p></p>
    
    You have been redirected to this page instead of the project analysis page because there was an error {{occasion}}. The following error message was generated:
    <p class="error">
    {{ error_msg}}
    {% if backend %}
    <br>Backend: {{ backend }}
    {% endif %}
    </p>
    Check that your data is OK and <a href="javascript:" onclick="history.go(-1); return false">try again</a>. If the above error message is incorrect or empty, please send the data to dhparks@lbl.gov as this probably indicates a problem with the web interface.
    </div>

</body>